graphviz==0.7.1
h5py==2.7.0
numpy==1.13.1
Pillow==4.2.1
requests==2.20.0
scipy==0.19.1
torch==0.2.*
torchvision==0.1.9
plotly==2.3.0
git+https://github.com/anibali/pyshowoff.git@b39183eb465cbd795ad2f402db93d533a877ce0d#egg=pyshowoff
